*{margin: 0;
    padding:0}
    html{
        scroll-behavior: smooth;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
    }
    .nav-list{
        width: 70%;
        /* background-color: rgb(0, 0, 0); */
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        border-radius: 50px;
    }
    .logo img{
        width: 26%;
        border-radius: 50px;
        border: 3px solid rgb(0, 255, 0);
        margin: 5px;
    }
    .nav-list li{
            list-style: none;
            padding: 20px 23px;
            
    }
    .nav-list li a{
        text-decoration: none;
        color:rgb(245, 181, 181);
        font-size: 20px;
    }
    .nav-list li a:hover{
        text-decoration: underline;
        color:rgb(99, 194, 191);
    
    }
    .rightNav{
        /* background-color: blueviolet; */
        width: 50%;
        text-align: right;
        padding: 0px 23px;
    }
    
    #search{
        padding:5px;
        font-size: 17px;
        border: 2px solid blue;
        border-radius: 8px;
    }
    
    .background{
        background: rgb(0, 0, 0,0) url('bg.jpg');
        background-size: cover;
        background-blend-mode: darken;
    }
    .firstSection{
        height: 100vh;
    }
    .box-main{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(195, 213, 178);
        max-width: 50%;
        margin: auto;
        height: 30%;
       
    }
    .firstHalf{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .secondHalf{
        width: 52%;
    }
    .secondHalf img{
        width: 80%;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 45px;
        display: block;
        margin: auto;
    }
    
    .text-big{
        font-size: 41px;
        
    }
    .text-small{
        font-size: 18px;
        font-style: italic;
    }
    .btn{
        padding: 8px 20px;
        margin: 7px 3px;
        border: 2px solid #2ff8aa;
        border-radius: 10px;
        background:none;
        color:white;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 20px;
    }
    .btn-sm{
        padding: 6px 10px;
        vertical-align: middle;
        font-size: 16px;
    
    }
    .section{
        /* height: 450px; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width:80%;
        margin: auto;
        padding: 10px;
        
    }
    
    .section-left{
        flex-direction: row-reverse;
      
    }
    .paras{
        padding: 0 50px;
    }
    .section img{
        width: 343px;
        border: 3px solid rgb(131, 255, 7);
        border-radius: 45px;
        display: block;
        margin: auto;
    }
    .sectionSubTag{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .contact{
        background-color: #f6f5f4;
        height: 833px;
    }
    .text-center{
        text-align: center;
        padding-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
    }
    .form{
        max-width: 62%;
        margin: 25px auto;
    }
    .form-input{
        width: 100%;
        margin: 14px 0px;
        padding: 5px 13px;
        font-size: 19px;
        border: 2px solid grey;
        border-radius: 6px;
        font-family:  monospace;
    }
    .btn-dark{
        color: black;
        border: 2px solid rgb(118, 104, 104);
        display: block;
        margin: auto;
    }
    .text-footer{
        text-align: center;
        padding: 30px 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    
    }
    .burger{
        position: absolute;
        cursor: pointer;
        display: none;
        right: 5% ;
        top: 15px;
    }
    .line{
        width: 33px;
        background-color: white;
        height: 4px;
        margin: 5px 3px;
    }
    
    @media only screen and (max-width:980px ) {
        .nav-list{
            flex-direction: column;
        }
        .navbar{
            flex-direction: column;
            transition: all 0.7s ease-out;
            height: 447px;
        }
        .rightNav{
            text-align: center;
        }
        .search{
            width: 100%;
        }
        .box-main{
            flex-direction: row-reverse;
            max-width: 100%;
        }
        .burger{
            display: block;
        }
        .h-nav{
            height: 72px;
        }
        .v-class{
            opacity: 0;
        }
        .section{
            flex-direction: column-reverse;
        }
        .text-small{
            text-align: center;
        }
        .text-big{
            text-align: center;
        }
        .buttons{
            text-align: center;
        }
        .paras{
            padding: 0px;
        }
    }